# Ignora file e cartelle di ambiente virtuale
venv/
.venv/

# Ignora file Python compilati e cache
*.pyc
__pycache__/

# Ignora le cartelle
dataset
logs
models
plots
results

# Ignora file
*.log
*.csv
*.h5
*.pkl
*.env

# Ignora file di sistema di macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db
.Spotlight-V100
.Trashes
.VolumeIcon.icns

# Ignora file di configurazione personali
secrets.txt

# Ignora file di backup
*~